<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avance - Apoio Escolar | Login</title>
    <link rel="stylesheet" href="../assets/style.css">
</head>
<body class="login-bg">
    <div class="login-container">
        <div class="logo">
            <img src="../../public/assets/logo-avance.png" alt="Logo Avance" class="logo-avance-login">
            <h1>Avance - Apoio Escolar</h1>
        </div>
        <form id="loginForm">
            <input type="text" name="usuario" placeholder="Usuário" required>
            <input type="password" name="senha" placeholder="Senha" required>
            <button type="submit">Entrar</button>
            <div class="login-options">
                <a href="#" id="forgot">Esqueci a senha</a>
                <a href="#" id="register">Novo usuário</a>
            </div>
        </form>
        <div id="loginMsg"></div>
    </div>
    <script src="../assets/login.js"></script>
</body>
</html>